*{
    margin: 0;
    padding: 0
}

body{
    background-image: url(1.jpg);
}

table{
    border: 10px solid black;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}




.main-nav{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li{
    display: inline-block;
}

.main-nav a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

